<header>
  <div id="menu" class="">
    <div class="container">
      <div class="row">
        <div class=" col-xs-6 col-sm-4">
          <div class="contact">
            <p><strong><i class="fa fa-map-marker"></i>Nous situer</strong></p>
            <p>25 avenue de la République 94100 Saint-Maur-des-Fossés</p>
          </div>
        </div>
        <div class=" col-xs-6 col-sm-4">
          <div class="contact">
            <p><strong><i class="fa fa-clock-o"></i>Nos horaires</strong></p>
            <p>Lundi au vendredi 10h-20h, samedi 10h-19h</p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-2">
          <div class="contact">
            <p><strong><i class="fa fa-phone"></i>Nous appeler</strong></p>
            <p><a href="tel:0981606555">09 81 60 65 55</a></p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-2">
          <div class="contact">
            <p><strong><i class="fa fa-comments"></i>Envoyer un sms</strong></p>
            <p><a href="tel:0769676027">07 69 67 60 27</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu2-wrapper fixedNav">
    <div id="menu2" class="fixmenu">
      <div class="container">
        <div class="row flex-middle2">
          <div class="col-md-3">
            <a href="./index.html">
              <div id="logo">
                <img src="./assets/img/logo (1).png" class="img-responsive inline-block" alt="logo nude">
              </div>
            </a>
          </div>
          <div class="col-md-9">
            <nav class="menu-haut">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="menu-top">
                  <li><a class="active" href="./index.html">
                      <div class="home3"><i class="fa fa-home"></i></div>
                    </a></li>
                  <li><a class="" href="./institut.html">L'institut</a></li>
                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Soins<span
                        class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a class="" href="./epilation.html">Épilation</a></li>
                      <li><a class="" href="./soins-des-mains-et-des-pieds.html">Soins des mains et des pieds</a></li>
                      <li><a class="" href="./soins-du-visage.html">Soins du visage</a></li>
                      <li><a class="" href="./soins-du-corps.html">Soins du corps</a></li>
                      <li><a class="" href="./minceur.html">Minceur</a></li>
                      <li><a class="" href="./beaute-du-regard.html">Beauté du regard</a></li>
                      <li><a class="" href="./maquillage.html">Maquillage</a></li>
                      <li><a class="" href="./maquillage-semi-permanent.html">Maquillage semi-permanent</a></li>
                      <li><a class="" href="./soins-pour-hommes.html">Soins pour hommes</a></li>
                      <li><a class="" href="./rituels-et-cure.html">Rituels et cure</a></li>
                    </ul>
                  </li>
                  <li><a class="" href="./nos-marques.html">Nos marques</a></li>
                  <li><a class="" href="./offrir.html">Offrir</a></li>
                  <li><a class="" href="./contact.html">Contact</a></li>
                  <li><a class="" href="./offre-du-mois.html">Offre du mois</a></li>
                  <li><a href="https://app.flexybeauty.com/nude-1/home" target="_blank" class="button-contact">Prendre
                      rdv</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
